__pycache__/

# ignore user generated server files
server/configs/*
server/received/*

#userend ignores
!userend/channels/
userend/channels/*
!userend/channels/-assignments-
!userend/channels/-example-
userend/codechunks/
userend/manifest
userend/resources/previous_edits.conf
userend/settings.conf

#server ignores
!server/received/
server/received/*