__pycache__/

# ignore user generated server files
server/configs/*
server/received/*

#userend ignores
!userend/channels/
userend/channels/*
userend/codechunks/
userend/manifest
userend/settings.conf

#server ignores
!server/received/
server/received/*